build*
dist*
docs/_build/
docs/doctrees/
docs/doxygen/
docs/html/
docs/source/_build/
*.aux
*.log
*.toc
*.out
extern/gfe
extern/install
*.swp
*.DS_Store
*.egg-info/
*CMakeCache.txt
*.out
*.csv
*.xlsx
*.pdf
*.bat
*.lib
*.dylib
*.so
*.dll
*.pyc
*.pyo
*.pyd
*.egg-info/
!sampleThe/*.inp
!test/main_interface/*.inp
!test/main_interface/reference_output/*.out
__pycache__/
*.py[cod]
*$py.class
source/bind/excel/~$*.xlsm
source/bind/excel/*.lib
source/bind/python/samples
source/bind/python/cea/samples/*.tex