build*
dist*
docs/_build/
docs/doctrees/
docs/doxygen/
docs/html/
docs/source/_build/
docs/*.aux
docs/*.log
extern/gfe
extern/install
*.swp
*.DS_Store
*.egg-info/
*CMakeCache.txt
*.out
*.csv
*.xlsx
*.pdf
*.bat
!sampleThe/*.inp
!test/main_interface/*.inp
!test/main_interface/reference_output/*.out
__pycache__/
*.py[cod]
*$py.class
source/bind/excel/*.dylib
source/bind/excel/*.so
source/bind/excel/*.dll
source/bind/excel/~$*.xlsm
source/bind/excel/*.lib
source/bind/python/samples
